.quiz-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffd6e0, #cde7ff);
  font-family: "Poppins", sans-serif;
}

.quiz-card,
.result-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-btn {
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: #f1f5ff;
  cursor: pointer;
  transition: 0.3s;
}

.option-btn:hover {
  background: #dbe4ff;
  transform: scale(1.05);
}

.progress-bar {
  height: 8px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 15px;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #ff7eb3, #65d6ff);
  border-radius: 10px;
}

.count {
  margin-top: 15px;
  font-size: 12px;
  color: gray;
}

.result-card h1 {
  margin-bottom: 10px;
}

.result-card button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  background: #ff7eb3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.result-card button:hover {
  background: #ff4fa0;
  transform: scale(1.05);
}

.final-msg {
  margin-top: 12px;
  font-style: italic;
  color: #666;
}
.selected {
  background: #ffb3d9 !important;
  transform: scale(1.05);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
